<html>
   <body>
      <form action = "http://localhost:8080/result" method = "POST">
         <p>Kredi Miktarı <input type = "text" name = "creditAmount" /></p>
         <p>Yaş <input type = "text" name = "age" /></p>
         <p>Ev Durumu <input type = "text" name = "home" /></p>
         <p>Kredi Sayısı <input type ="text" name = "creditCount" /></p>
	 <p>Telefon Durumu <input type ="text" name = "phone" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>